/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

/* Scrollbar Styles */
*::-webkit-scrollbar {
    width: 12px;
    margin-top: -10px;
    scrollbar-gutter: stable;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;
    border-radius: 20px;
    border: 0;
}

/* Global Variables and Global Styles */
* {
    --text: white;
    --text-info: #d9d9d9;
    --background: #121315;
    --primary: #2a84ff;
    --secondary: #fc07a9;
    --green: #70ff50;

    --boxes: #131313;
    --cards: #1d1d21;
    --border: #1c1c1c;
    --readonly: #a8a8a8;
    --input: #1c1c1c;

    margin: 0 auto;
    box-sizing: border-box;
}

/* General Styles */
body {
    color: var(--text);
    background: var(--background);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    scroll-behavior: auto;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}


nav{
    -webkit-backface-visibility: hidden;
    z-index: 5;
    position: fixed;
    top: 40%;
    right: 0;
    margin: auto;
    width: 100px;
}

nav li{
    height: 20px;
    margin: 20px 0;
    list-style: none;
}

nav a{
    display: block;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    background-color: transparent;
    border: 3px solid #a9a9a9;
    transition: all 0.3s ease;
    position: relative;
    left: 0;
    top: 0;
}
nav a:hover,
nav a.active{
    background-color: #fff;
    width: 30px;
    height: 30px;
    left: -3px;
    top: -2px;
    border: 3px solid #ffffff;
}

h1 {
    font-size: 50px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.44);
}

p {
    font-size: 14px;
}

.grid-background {
    background: rgba(7, 7, 7, 0);
    background-image: linear-gradient(rgba(255, 255, 255, 0.01) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.01) 1px, transparent 1px);
    background-size: 30px 30px;
    width: 100vw;
    height: 200vh;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: -1;
}

.invisible {
    visibility: hidden;
}

.xl-title {
    font-size: 100px;
}


