@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

* {
    --text: white;
    --background: #121315;
    --input: #282d31;
    --primary: #2a84ff;
    --secondary: #fc07a9;

    margin: 0 auto;
    box-sizing: border-box;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.folder-name {
    width: 200px;
    height: 30px;
    position: relative;
    z-index: 2;
}

.filetype-outer {
    width: 200px;
    height: 100px;
    background-color: red; /* //todo: remove test-styling */
}

.edit-btn {
    display: flex;
    align-items: center;
}


/* //todo: remove test-styling */
.edit-btn label {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 3;
}

.folder-input{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: var(--text);
    padding: 5px;
    text-align: center;
}

textarea:focus, input:focus{
    outline: none;

}

.border-blue {
    border-bottom: 1px solid var(--primary);
}

